@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  height: 1000px;
  color: white;
  font-family: "Lato", sans-serif;
}

/* Header */

h1 {
  font-size: 2rem;
  margin: 0;
}

header {
  background-color: rgb(20, 20, 20);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-icon {
  width: 32px;
  height: 32px;
  filter: opacity(0.5);
  cursor: pointer;
}

.nav-icon:hover {
  filter: opacity(1);
}

.title-container {
  display: flex;
  gap: 30px;
}

.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(89, 89, 89);
  padding-bottom: 5px;
}

.search-container > input {
  width: 35vw;
  min-width: 350px;
  background-color: transparent;
  border: none;
  flex-grow: 1;
  color: white;
  font-size: 1.3rem;
}

.search-container > input:focus {
  outline: none;
}

.search-container > img {
  width: 25px;
  height: 25px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

/* Main */

main {
  margin-top: 100px;
  width: 50%;
  margin: 90px auto;
}

.filters {
  font-size: 1.5rem;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-dropdown {
  display: flex;
  justify-content: end;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: rgb(230, 230, 230);
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 5px;
}

.filter-button > img {
  width: 22px;
}

.form-dropdowns {
  display: flex;
  gap: 25px;
}

#entity,
#location {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  font-size: 1.5rem;
  color: rgb(230, 230, 230);
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 3px;
  gap: 8px;
}

#entity-dropdown,
#location-dropdown {
  margin: 0;
}

.form-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sort-down {
  width: 10px;
}

#year,
#severity {
  font-size: 1.5rem;
}

.form-slider {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.slider-values {
  display: flex;
  justify-content: space-between;
}

.range-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  width: 100px;
  align-self: flex-end;
}

.sliders-control {
  position: relative;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

/* input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
} */

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
}

#min-year-slider,
#min-severity-slider {
  height: 0;
  z-index: 1;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.apply-btn {
  width: 150px;
  height: 50px;
  border: 1px solid #25daa5;
  background-color: transparent;
  color: rgb(230, 230, 230);
  border-radius: 4px;
  cursor: pointer;
}

.hidden {
  display: none;
}
